@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: sans-serif;
  font-style: inherit;
}
.slick-slide > div {
  margin: 0 10px;
}

.slick-prev:before, .slick-next:before {
  color: black !important;
}

.firstbackground{
  background: url('./../public/back7.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@layer components{
    .footerLinks{
    @apply sm:w-[25%] w-full h-full flex flex-col text-white justify-center items-center sm:items-start
  }
  .footerHeading{
    @apply text-2xl font-bold text-white mb-4 underline
  }
  .followlinks{
    @apply flex hover:underline mb-2
  }
  .icons{
    @apply mr-2
  }
  .searchlabels{
    @apply flex flex-col sm:w-[18%] w-full
  }
  .searchselects{
    @apply h-[70%] outline-none pl-2 pr-2 border-r-2
  }
  .searchlabel{
    @apply h-[30%] pl-2 pr-2 capitalize font-semibold
  }
}